streamlit
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-chroma
chromadb
google-generativeai
pypdf
python-docx
python-dotenv
tqdm
unstructured
sentence-transformers
torch
torchvision